@use "@/styles/breakpoints";
@use "@/styles/utils";

.screenshots {
    @include utils.define-batch(
        (
            (--small-offset, 20, 20, 32),
            (--large-offset, 75, 75, 102),
            (--shadow-border-radius, 16, 16, 20),
            (--bullets-offset, 20, 20, 32),
            (--bullet-size, 6, 6, 9),
            (--bullet-active-size, 42, 42, 58)
        )
    );

    position: relative;

    display: grid;
    grid-template-columns:
        [image-start] var(--large-offset) [shadow-start] 1fr [image-end] var(--small-offset)
        [shadow-end];
    grid-template-rows:
        [shadow-start] var(--small-offset) [image-start] 1fr [shadow-end] var(--small-offset)
        [image-end];

    touch-action: pan-y;

    .shadow,
    .image {
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;
    }

    .shadow {
        grid-area: shadow;

        border-radius: var(--shadow-border-radius);
    }

    .image {
        grid-area: image;

        background-color: var(--color-white);
        box-shadow: var(--box-shadow);

        position: relative;
        z-index: 2;

        border-radius: var(--border-radius-400);

        transition: opacity var(--animation-duration-normal) var(--ease-natural);

        &:not(.active) {
            opacity: 0;

            z-index: 1;

            transition-delay: var(--animation-duration-normal);

            pointer-events: none;
            user-select: none;
        }
    }

    .bullets {
        position: absolute;
        inset-block-start: 50%;
        inset-inline-end: calc(0.5 * var(--bullets-offset));

        display: grid;
        gap: 0.4rem;

        transform: translate(50%, -50%);

        .bullet {
            background-color: var(--color-white);
            opacity: 0.5;

            block-size: var(--bullet-size);
            inline-size: var(--bullet-size);

            border-radius: 999rem;

            transition: var(--animation-duration-normal) var(--ease-natural);
            transition-property: block-size, opacity;

            &.active {
                opacity: 1;

                block-size: var(--bullet-active-size);
            }

            &:not(.active) {
                cursor: pointer;
            }
        }
    }
}
