@use "@/styles/breakpoints";
@use "@/styles/utils";

:root {
    @include utils.define-batch(((--box-shadow-blur, 6, 6, 8), (--scroll-padding, 20, 40, 40)));

    --color-white: hsl(0deg 0% 100%);
    --color-gray-98: hsl(0deg 0% 98%);
    --color-gray-95: hsl(0deg 0% 95%);
    --color-gray-90: hsl(0deg 0% 90%);
    --color-gray-80: hsl(0deg 0% 80%);
    --color-gray-70: hsl(0deg 0% 70%);
    --color-gray-60: hsl(0deg 0% 60%);
    --color-gray-50: hsl(0deg 0% 50%);
    --color-gray-40: hsl(0deg 0% 40%);
    --color-gray-30: hsl(0deg 0% 30%);
    --color-gray-20: hsl(0deg 0% 20%);
    --color-gray-10: hsl(0deg 0% 10%);
    --color-black: hsl(0deg 0% 0%);

    --color-primary: hsl(210deg 100% 47%);

    --gradient-primary: linear-gradient(91.38deg, hsl(212deg 100% 44%) -8.2%, hsl(213deg 100% 50%) 111.34%);

    --box-shadow: 0 0 var(--box-shadow-blur) 0 hsl(0deg 0% 0% / 10%);

    --border-radius-100: 0.6rem;
    --border-radius-300: 1.2rem;
    --border-radius-400: 1.6rem;
    --border-radius-700: 2.4rem;

    --outline-focus-visible: 0.2rem dashed var(--color-gray-10);

    --font-aeonik: aeonik, system-ui;

    --animation-duration-fast: 0.2s;
    --animation-duration-normal: 0.5s;
    --animation-duration-slow: 1s;

    --ease-natural: cubic-bezier(0, 1.4, 1, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    color-scheme: light;

    accent-color: var(--color-primary);
    caret-color: var(--color-primary);

    overflow-x: hidden;

    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding);

    font-size: 62.5%;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

button {
    background-color: transparent;

    border: none;

    white-space: pre;

    cursor: pointer;
}

a {
    color: inherit;

    text-decoration: none;
}

p {
    color: hsl(0deg 0% 47% / 100%);

    max-inline-size: 60ch;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;

    block-size: auto;
    max-inline-size: 100%;
}

body {
    @media #{breakpoints.$mobile} {
        --body-padding-block-start: 1.8rem;
        --body-padding-block-end: 1.6rem;
        --body-padding-inline: 2.8rem;
    }

    @media #{breakpoints.$tablet} {
        --body-padding-block-start: 2.4rem;
        --body-padding-block-end: 2.4rem;
        --body-padding-inline: 4.8rem;
    }

    @media #{breakpoints.$desktop} {
        --body-padding-block-start: 1.6rem;
        --body-padding-block-end: 4rem;
        --body-max-inline-size: 118.3rem;
        --body-padding-inline: calc(max(100% - var(--body-max-inline-size), 4.8rem) / 2);
    }

    background-color: var(--color-white);
    color: var(--color-black);

    position: relative;

    min-block-size: 100vh;
    min-block-size: 100dvh;

    padding: var(--body-padding-block-start) var(--body-padding-inline) var(--body-padding-block-end);

    font-size: 1.6rem;

    line-height: 1.2;

    &::before {
        content: "";

        background: linear-gradient(
            126.38deg,
            hsl(212deg 100% 44%) -35.58%,
            hsl(212deg 100% 44% / 0%) 57.02%,
            hsl(212deg 100% 44%) 108.33%
        );
        opacity: 0.05;

        position: absolute;
        inset: 0;
        z-index: -1;

        pointer-events: none;
        user-select: none;
    }
}
