@use "@/styles/breakpoints";
@use "@/styles/colors";
@use "@/styles/utils";

.cta {
    @include utils.define-batch(
        (
            (--cta-gap, 18, 18, 30),
            (--cta-padding-inline-start, 12, 12, 16),
            (--cta-font-size, 14, 14, 16),
            (--img-inline-size, 25, 25, 32)
        )
    );

    background-image: var(--gradient-primary);
    color: hsl(0deg 0% 100% / 100%);

    display: flex;
    align-items: center;
    gap: var(--cta-gap);

    padding: 0.4rem 0.4rem 0.4rem var(--cta-padding-inline-start);

    border-radius: var(--border-radius-700);

    font-family: var(--font-aeonik);
    font-size: var(--cta-font-size);
    font-weight: 700;

    > img {
        inline-size: var(--img-inline-size);
    }

    &:hover {
        box-shadow: 0 4px 8px 0 hsl(0deg 0% 0% / 12%);
    }
}
