@use "@/styles/breakpoints";
@use "@/styles/colors";
@use "@/styles/utils";

.contact-us {
    @include utils.define-batch(
        (
            (--contact-us-margin-block-start, 140, 180, 214),
            (--contact-us-margin-block-end, 80, 120, 140),
            (--contact-us-row-gap, null, 60, 80),
            (--bling-size, 32, 32, 44),
            (--bling-block-offset, -2, 0, 0),
            (--bling-inline-offset, 20, 12, 8),
            (--ways-gap, null, 16, 28)
        )
    );

    @include utils.section-margin(var(--contact-us-margin-block-start), var(--contact-us-margin-block-end));

    .spiral {
        display: none;
    }
}

@media #{breakpoints.$mobile} {
    .contact-us {
        .title {
            margin-block-end: 1.6rem;
        }

        .subtitle {
            margin-block-end: 6rem;
        }

        > :nth-child(3) {
            margin-block-end: 4rem;
        }
    }
}

@media #{breakpoints.$tablet-and-desktop} {
    .contact-us {
        display: grid;
        grid-template-areas: "title subtitle" "ways form";
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 2.4rem;
        row-gap: var(--contact-us-row-gap);

        .ways {
            grid-area: ways;

            display: grid;
            gap: var(--ways-gap);
        }

        .form {
            grid-area: form;
        }
    }
}

@media #{breakpoints.$desktop} {
    .contact-us {
        position: relative;

        .spiral {
            grid-area: 2 / 1 / 3 / 2;

            position: absolute;
            inset-block-start: 0;
            inset-inline-end: 0;

            display: unset;

            transform: translate(-4rem, 3rem);
        }
    }
}
