@use "@/styles/breakpoints";
@use "@/styles/colors";
@use "@/styles/utils";

.detail {
    @include utils.define-batch(
        (
            (--indicator-inline-size, null, 5, 6),
            (--content-padding-block, null, 18, 12),
            (--title-font-size, 22, 24, 36),
            (--link-font-size, 14, 14, 18),
            (--description-font-size, 12, 12, 14),
            (--tag-font-size, 10, 10, 14),
            (--tag-padding-block, 5, 5, 6),
            (--tag-padding-inline, 10, 10, 12),
            (--inactive-title-font-size, null, 20, 24)
        )
    );

    .content {
        display: grid;
        grid-template-areas: "title link" "description description" "tags tags";
        grid-template-columns: 1fr auto;
        gap: 1.2rem;

        .title {
            grid-area: title;

            font-family: var(--font-aeonik);
            font-size: var(--title-font-size);
            font-weight: 700;
        }

        .link {
            grid-area: link;

            display: flex;
            align-items: center;
            gap: 0.4rem;

            font-family: Lato, system-ui;
            font-size: var(--link-font-size);
            font-weight: 500;

            .text {
                @include colors.primary-text;

                position: relative;

                &::after {
                    content: "";

                    background-color: var(--color-primary);

                    position: absolute;
                    inset-block-end: 0;
                    inset-inline: 0;

                    block-size: 1px;
                    inline-size: 100%;

                    transform: scaleX(0);
                    transform-origin: center;

                    transition: transform var(--animation-duration-fast) ease-out;
                }
            }

            &:hover {
                .text {
                    &::after {
                        transform: scaleX(1);

                        transition-timing-function: var(--ease-natural);
                    }
                }
            }
        }

        .description {
            grid-area: description;

            font-family: Lato, system-ui;
            font-size: var(--description-font-size);
        }

        .tags {
            grid-area: tags;

            display: flex;
            gap: 0.6rem;

            .tag {
                background-image: linear-gradient(
                    91.38deg,
                    hsl(212deg 100% 44% / 10%) -8.2%,
                    hsl(213deg 100% 50% / 10%) 111.34%
                );
                color: var(--color-primary);

                padding: var(--tag-padding-block) var(--tag-padding-inline);

                border: 1px solid var(--color-primary);
                border-radius: var(--border-radius-100);

                font-family: Lato, system-ui;
                font-size: var(--tag-font-size);
                font-weight: 500;
            }
        }
    }
}

@media #{breakpoints.$mobile} {
    .detail {
        grid-area: 1 / 1 / -1 / -1;

        .indicator {
            display: none;
        }

        &:not(.active) {
            opacity: 0;

            pointer-events: none;
            user-select: none;
        }
    }
}

@media #{breakpoints.$tablet-and-desktop} {
    .detail {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 2rem;

        .indicator {
            align-self: stretch;

            inline-size: var(--indicator-inline-size);

            border-radius: 999rem;
        }

        &.active {
            max-inline-size: 42rem;

            .indicator {
                background-image: linear-gradient(
                    1.38deg,
                    hsl(212deg 100% 44% / 10%) -8.2%,
                    hsl(213deg 100% 50% / 10%) 111.34%
                );

                position: relative;

                &::after {
                    content: "";

                    background-image: linear-gradient(
                        1.36deg,
                        hsl(212deg 100% 44%) -8.22%,
                        hsl(213deg 100% 50% / 0%) 87.84%
                    );

                    position: absolute;
                    inset: 0;

                    inline-size: 100%;

                    border-radius: 999rem;

                    animation: indicator-animation 5000ms linear forwards;
                }
            }

            .content {
                padding-block: var(--content-padding-block);
            }
        }

        &:not(.active) {
            opacity: 0.2;

            cursor: pointer;

            .indicator {
                background-color: hsl(0deg 0% 47% / 100%);
            }

            .content {
                .title {
                    color: hsl(0deg 0% 47% / 100%);

                    font-size: var(--inactive-title-font-size);
                    font-weight: 500;
                }

                > :not(.title) {
                    display: none;
                }
            }
        }
    }
}

@keyframes indicator-animation {
    0% {
        block-size: 0;
    }

    100% {
        block-size: 100%;
    }
}
