@use "@/styles/breakpoints";
@use "@/styles/colors";
@use "@/styles/utils";

.solutions {
    @include utils.define-batch(
        (
            (--solutions-margin-block-start, 140, 180, 220),
            (--solutions-margin-block-end, 140, 180, 220),
            (--bling-size, 21, 26, 32),
            (--bling-block-offset, 2, 0, 2),
            (--bling-inline-offset, 14, 18, 20),
            (--items-margin-block-start, 60, 60, 80),
            (--items-gap, 16, 16, 24)
        )
    );

    @include utils.section-margin(var(--solutions-margin-block-start), var(--solutions-margin-block-end));

    .items {
        display: grid;
        gap: var(--items-gap);

        margin-block-start: var(--items-margin-block-start);
    }
}

@media #{breakpoints.$mobile} {
    .solutions {
        .title {
            margin-block-end: 1.6rem;
        }

        .subtitle {
            margin-block-end: 6rem;
        }

        .screenshots {
            margin-block-end: 4rem;
        }
    }
}

@media #{breakpoints.$tablet-and-desktop} {
    .solutions {
        display: grid;
        grid-template-areas: "title subtitle" "items items";
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 2.4rem;

        .items {
            grid-area: items;

            grid-auto-flow: dense;
            grid-template-columns: 40% 1fr 40%;

            > :nth-child(1) {
                grid-column: 1 / -1;
            }

            > :nth-child(2) {
                grid-column: 1 / 3;
            }

            > :nth-child(3) {
                grid-column: 3 / -1;
            }

            > :nth-child(4) {
                grid-column: 2 / -1;
            }

            > :nth-child(5) {
                grid-column: 1 / 2;
            }

            > :nth-child(6) {
                grid-column: 1 / -1;
            }
        }
    }
}
