@use "@/styles/colors";

.highlight {
    overflow: hidden;

    display: inline-block;

    vertical-align: bottom;

    .character {
        @include colors.primary-text;

        display: inline-block;

        animation: fade-in-animation 0.3s both;
    }
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;

        transform: translateY(100%);
    }

    100% {
        opacity: 1;

        transform: translateY(0);
    }
}
