name: Deploy
on:
    push:
        branches: [master]
    workflow_dispatch:

jobs:
    deploy:
        uses: BijanProgrammerWebsites/hub/.github/workflows/deploy-nextjs.yml@master
        with:
            process-name: webtide
            port: 3005
        secrets: inherit
